USE [OBH-CASHFLOW]
GO
/****** Object:  Table [dbo].[OBH_BANK]    Script Date: 07/06/2017 13:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OBH_BANK](
	[BANK_ID] [bigint] NULL,
	[BANK_NAME] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COUNTERPARTY_TRANSACTION]    Script Date: 07/06/2017 13:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COUNTERPARTY_TRANSACTION](
	[FROM_COUNTERPARTY] [varchar](200) NULL,
	[FROM_COUNTERPARTY_ACCOUNT] [bigint] NULL,
	[TO_COUNTERPARTY] [varchar](200) NULL,
	[TO_COUNTERPARTY_ACCOUNT] [bigint] NULL,
	[AMOUNT] [numeric](10, 3) NULL,
	[TRANSACTION_COST] [numeric](10, 3) NULL,
	[TIME_STAMP] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[COUNTERPARTY_TRANSACTION] ([FROM_COUNTERPARTY], [FROM_COUNTERPARTY_ACCOUNT], [TO_COUNTERPARTY], [TO_COUNTERPARTY_ACCOUNT], [AMOUNT], [TRANSACTION_COST], [TIME_STAMP]) VALUES (N'Sri Infotech', 1234, N'Santosh Infotech', 1236, CAST(1000.000 AS Numeric(10, 3)), CAST(1.000 AS Numeric(10, 3)), CAST(0x0000A78700DB9D19 AS DateTime))
INSERT [dbo].[COUNTERPARTY_TRANSACTION] ([FROM_COUNTERPARTY], [FROM_COUNTERPARTY_ACCOUNT], [TO_COUNTERPARTY], [TO_COUNTERPARTY_ACCOUNT], [AMOUNT], [TRANSACTION_COST], [TIME_STAMP]) VALUES (N'Sri Infotech', 1234, N'Santosh Infotech', 1237, CAST(1000.000 AS Numeric(10, 3)), CAST(1.000 AS Numeric(10, 3)), CAST(0x0000A78700DB9D19 AS DateTime))
INSERT [dbo].[COUNTERPARTY_TRANSACTION] ([FROM_COUNTERPARTY], [FROM_COUNTERPARTY_ACCOUNT], [TO_COUNTERPARTY], [TO_COUNTERPARTY_ACCOUNT], [AMOUNT], [TRANSACTION_COST], [TIME_STAMP]) VALUES (N'Sri Infotech', 1234, N'Mahesh Infotech', 1238, CAST(1000.000 AS Numeric(10, 3)), CAST(1.000 AS Numeric(10, 3)), CAST(0x0000A78700DB9D19 AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
/****** Object:  Table [dbo].[BANK_COUNTERPARTY_MAPPING]    Script Date: 07/06/2017 13:58:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANK_COUNTERPARTY_MAPPING](
	[USER_NAME] [varchar](300) NULL,
	[COUNTER_PARTY] [varchar](200) NULL,
	[BANK_NAME] [varchar](200) NULL,
	[ACCOUNT_NUMBER] [bigint] NULL,
	[BALANCE] [numeric](10, 0) NULL,
	[FX_RATES] [numeric](10, 0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BANK_COUNTERPARTY_MAPPING] ([USER_NAME], [COUNTER_PARTY], [BANK_NAME], [ACCOUNT_NUMBER], [BALANCE], [FX_RATES]) VALUES (N'Srinidhi', N'Sri Infotech', N'RBS', 1234, CAST(50000000 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)))
INSERT [dbo].[BANK_COUNTERPARTY_MAPPING] ([USER_NAME], [COUNTER_PARTY], [BANK_NAME], [ACCOUNT_NUMBER], [BALANCE], [FX_RATES]) VALUES (N'Srinidhi', N'Sri Infotech', N'HSBC', 1235, CAST(50000000 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)))
INSERT [dbo].[BANK_COUNTERPARTY_MAPPING] ([USER_NAME], [COUNTER_PARTY], [BANK_NAME], [ACCOUNT_NUMBER], [BALANCE], [FX_RATES]) VALUES (N'Santosh', N'Santosh Infotech', N'Societe', 1236, CAST(50000000 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)))
